.DS_Store
Pods/Pods.xcodeproj/xcuserdata/zubair.xcuserdatad/xcschemes/Cosmos.xcscheme
Pods/Pods.xcodeproj/xcuserdata/zubair.xcuserdatad/xcschemes/IoniconsSwift.xcscheme
Pods/Pods.xcodeproj/xcuserdata/zubair.xcuserdatad/xcschemes/Pods-Tip Calculator.xcscheme
Pods/Pods.xcodeproj/xcuserdata/zubair.xcuserdatad/xcschemes/Pods-Tip CalculatorTests.xcscheme
Pods/Pods.xcodeproj/xcuserdata/zubair.xcuserdatad/xcschemes/Pods-Tip CalculatorUITests.xcscheme
Pods/Pods.xcodeproj/xcuserdata/zubair.xcuserdatad/xcschemes/PureLayout.xcscheme
Pods/Pods.xcodeproj/xcuserdata/zubair.xcuserdatad/xcschemes/xcschememanagement.plist
Tip Calculator.xcodeproj/xcuserdata/zubair.xcuserdatad/xcschemes/Tip Calculator.xcscheme
Tip Calculator.xcodeproj/xcuserdata/zubair.xcuserdatad/xcschemes/xcschememanagement.plist
Tip Calculator.xcworkspace/xcuserdata/zubair.xcuserdatad/UserInterfaceState.xcuserstate